#odoo server
upstream odoo {
 server 127.0.0.1:8069;
}
upstream odoochat {
 server 127.0.0.1:8072;
}

# non-ssl to ssl
#server {
#  listen 80;
#  server_name {{ domain }};
#  rewrite ^(.*) https://{{ domain }}$request_uri? permanent;
#}
#
#
#server {
# listen 80;
# if ($host = mengdib2b.vps.monema.it) {
#     return 301 https://$host$request_uri;
# } # managed by Certbot
#
#
# if ($host = b2b.mengdiitalia.it) {
#     return 301 https://$host$request_uri;
# } # managed by Certbot
# server_name mengdib2b.vps.monema.it b2b.mengdiitalia.it;
# return 404; # managed by Certbot
#}

server {
 server_name {{ hosting_name }};
 proxy_read_timeout 720s;
 proxy_connect_timeout 720s;
 proxy_send_timeout 720s;
 client_max_body_size 100M;

 # Add Headers for odoo proxy mode
 proxy_set_header X-Forwarded-Host $host;
 proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
 proxy_set_header X-Forwarded-Proto $scheme;
 proxy_set_header X-Real-IP $remote_addr;

 # log
 access_log /var/log/nginx/odoo.access.log;
 error_log /var/log/nginx/odoo.error.log;

 location ^~ /.well-known {
   alias /var/www/html/.well-known;
 }

 # Redirect longpoll requests to odoo longpolling port
 location /longpolling {
   proxy_pass http://odoochat;
 }

 # Redirect requests to odoo backend server
 location / {
   proxy_redirect off;
   proxy_pass http://odoo;
 }

 # common gzip
 gzip_types text/css text/scss text/plain text/xml application/xml application/json application/javascript;
 gzip on;

 listen 443 http2 ssl; # managed by Certbot
 ssl_certificate /etc/letsencrypt/live/{{ hosting_name }}/fullchain.pem; # managed by Certbot
 ssl_certificate_key /etc/letsencrypt/live/{{ hosting_name }}/privkey.pem; # managed by Certbot
 #include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
 #ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
