# redirect www to non-www
server {
  server_name {{ item.server_names }};
  root /var/www/{{ item.hosting_name }}/public;

  access_log  /var/log/nginx/{{ item.hosting_name }}-access.log;
  error_log  /var/log/nginx/{{ item.hosting_name }}-error.log;

  include /etc/nginx/includes/location.conf;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  # pass all .php files to php-fpm
  location ~* \.php$ {
    if ($uri !~ "^/uploads/") {
      fastcgi_pass unix:/var/run/php/php7.3-fpm-{{ item.hosting_name }}.sock;
    }
    include         fastcgi_params;
    fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
    fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
  }
}
